In [1]:
import pandas as pd

names = pd.Series(["xyz, abc", "acv, pqrs", "lvda, lssn"])
names

0      xyz, abc
1     acv, pqrs
2    lvda, lssn
dtype: object

In [2]:
names.str.len()

0     8
1     9
2    10
dtype: int64

In [3]:
names = names.str.split(",")

In [4]:
type(names[0])

list

In [5]:
names

0      [xyz,  abc]
1     [acv,  pqrs]
2    [lvda,  lssn]
dtype: object

In [6]:
names = [" ".join(i) for i in names]

In [7]:
names

['xyz  abc', 'acv  pqrs', 'lvda  lssn']

#pandas dats

In [8]:
dates = pd.period_range("1/1/2022", freq="1m", periods = 12)
dates

PeriodIndex(['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
             '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12'],
            dtype='period[M]', freq='M')

In [9]:
data = pd.DataFrame(dates, columns = ["dates"])

In [10]:
data

      dates
0   2022-01
1   2022-02
2   2022-03
3   2022-04
4   2022-05
5   2022-06
6   2022-07
7   2022-08
8   2022-09
9   2022-10
10  2022-11
11  2022-12

In [11]:
data["difference_of_dates"] = data["dates"].diff(1)
data

      dates difference_of_dates
0   2022-01                 NaT
1   2022-02          <MonthEnd>
2   2022-03          <MonthEnd>
3   2022-04          <MonthEnd>
4   2022-05          <MonthEnd>
5   2022-06          <MonthEnd>
6   2022-07          <MonthEnd>
7   2022-08          <MonthEnd>
8   2022-09          <MonthEnd>
9   2022-10          <MonthEnd>
10  2022-11          <MonthEnd>
11  2022-12          <MonthEnd>

In [12]:
data["dates"] = data["dates"].values.astype('datetime64[M]')
data

        dates difference_of_dates
0  2022-01-01                 NaT
1  2022-02-01          <MonthEnd>
2  2022-03-01          <MonthEnd>
3  2022-04-01          <MonthEnd>
4  2022-05-01          <MonthEnd>
5  2022-06-01          <MonthEnd>
6  2022-07-01          <MonthEnd>
7  2022-08-01          <MonthEnd>
8  2022-09-01          <MonthEnd>
9  2022-10-01          <MonthEnd>
10 2022-11-01          <MonthEnd>
11 2022-12-01          <MonthEnd>

In [13]:
data['days'] = data['dates'].dt.day_name()

In [14]:
data

        dates difference_of_dates       days
0  2022-01-01                 NaT   Saturday
1  2022-02-01          <MonthEnd>    Tuesday
2  2022-03-01          <MonthEnd>    Tuesday
3  2022-04-01          <MonthEnd>     Friday
4  2022-05-01          <MonthEnd>     Sunday
5  2022-06-01          <MonthEnd>  Wednesday
6  2022-07-01          <MonthEnd>     Friday
7  2022-08-01          <MonthEnd>     Monday
8  2022-09-01          <MonthEnd>   Thursday
9  2022-10-01          <MonthEnd>   Saturday
10 2022-11-01          <MonthEnd>    Tuesday
11 2022-12-01          <MonthEnd>   Thursday

# missing dates